@import "panel.css";
@import "basement.css";

/*html, body {
  height: 100%;
}
*/
body{
  
  background: url(../img/fon2.jpg) no-repeat;
  /*width: 100%;*/
    position: relative;
  height: 100%;
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;

  }

.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
}


.col-2_5 {
    flex: 19.833335%;
    max-width: 200px;
}

.col-9_5 {

    flex: 40.166667%;
    max-width: 40.166667%;
}

/*клас для розмещения по чентру*/
.centered {
	text-align: center;
}
/*MARGIN-BOTTOM*/
.mb-10 {
	margin-bottom: 5.5rem!important;
}
/*отменить padding*/
.noPading {
	padding: 0;
	margin: 0;
}
/*стили для группы карточек*/
.card-deck {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 1580px;
}
/*cстили для карточки*/
.card {
    padding: 0;
    max-width: 200px;
    max-height: 400%;
    min-width: 260px;
    min-height: 100%;
   
}
/*стили для постера карточки*/
.card_img_top {
	max-width: 255px;
   /* max-height: 375px;*/
    min-width: 255px;
   /* min-height: 375px;*/
    margin-top: 9px;
}
.card_img_music {
	max-width: 257px;
    max-height: 257px;
    min-width: 257px;
    min-height: 257px;
    margin-top: 9px;
}
.card_music {
	flex: 100%;
    margin-top: 15px;
    max-width: 280px;
    max-height: 525px;
    min-width: 280px;
    min-height: 550px;
}

/*/////////////////////////////////////////////////////////////*/
.FILMS {
	  height: 400px;
    padding: 0;
    width: 100%;
}

/*======================
начальная страница
========================*/
.menu {
	min-height: 750%;
	width: 100%;
}

#f {
	position: absolute;
    left: 370px;
    top: 245px;
}

#patron {
    top: 10px;
}

#odezhda {
    top: -46px;
}
/*===========================
СТИЛИ ДЛЯ СПИСКА С ЖАНРАМИ
=============================*/
.select_iscustvo {
    margin-bottom: 20px;
    margin-top: 10px;
}

/*стиль для ссылки в списке выбора жанров*/
#selectmovie2 a {
	font-size: 20px;
}
/*блок списка*/
.spisoc {
	/*min-height: 1350px;*/
	background: #656cb8c2;
}
/*список*/
#selectmovie2 {
	height: 100%;
  margin-left: 40px;
}
/*стили для заголовков в списке*/
#selectmovie2 h2 {
	font-size: 30px;
    /*стиль для выставления величины абзаца*/
	text-indent: 30px;
    /*растояние между строк*/
	line-height: 30px;
	/*font-style: oblique;*/
	font-family: Arial, Serif;
}
/*стиль для заголовка "Все"*/
#selectmovie2 h3 {
	font-size: 30px;
	text-indent: 30px;
	line-height: 50px;
	font-weight: 900;
	font-family: Serif;
}
/*стиль для списка: наведение на ссылку*/
#selectmovie2 a:hover {
	color: #595652;
	text-decoration: none;
}

/*===================================

=====================================*/
.glavField {
	height: 100%;
	min-height: 100%;
	width: 100%;
}
/*=======================================
      ПАГТНАЦИЯ И ПОКАЗАТЬ ЕЩЁ
===========================================*/

#show-more {
   /* position: absolute;
    left: -255px;
    top: 350px;*/
}

#pagination-naw {
   /* position: absolute;
    left: -165px;
    top: 500px;*/
}
/*================================================
       КАРТОЧКИ ТОВАРА
==================================================*/

#cards-sales {
   /* position: absolute;
    top: 40px;
    margin-left: 205px;
    margin-top: 62px;*/
}


/*=======================================
подключил стили для формы регистрации из bootstrap 
==========================================*/
#container {
  position: relative;
    left: 31%;
    text-align: center;
    top: 30px;
}
.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
     height: auto!important;
    padding: 8px 12px !important;
}

.input-group {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

#button {
     border: 1px solid #ccc;
     margin-top: 28px;
     padding: 6px 12px;
     color: #666;
     text-shadow: 0 1px #fff;
     cursor: pointer;
     border-radius: 3px 3px;
     box-shadow: 0 1px #fff inset, 0 1px #ddd;
     background: #f5f5f5;
     background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
     background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
     background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
     background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
     background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.main-form{
    margin-top: 30px;
      margin: 0 auto;
    max-width: 340px;
    padding: 10px 40px;
    background:#009edf;
    color: #FFF;
    text-shadow: none;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
     margin-top: 5px;
}


/*кнопка регистрации*/
#button-btn {
    top: 450px;
    left: 100px;
  }   
/* кнопка реферификации*/
#btn-reverific {
   left: 45%;
  top: 75px;
}

/*форма авторизации*/
#container-form {
  top: 20px;
}
/*кнопка войти форма авторизации */
#login-btn {
  left: 66%;
  top: 75px;
}

.ver_1 {
    left: 360px;
    position: relative;
}
.ver_2 {
  top: 34px;
  position: relative;
  left: 100px;

}

/*=====================================
social
===================================*/
.footer-social {
  padding: 10px 0;
}
.footer-social a {
  color: #70726F;
  font-size: 20px;
  padding: 20px;
 /* border-right: 1px solid #70726F;*/
  transition: all .5s ease;
}
.footer-social a:first-child {
  /*border-left: 1px solid #70726F;*/
}
.footer-social a:hover {
  color: white;
}




.fix-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}